* text=auto !eol
action/export_all.php -text
base/import_all.php -text
connect/dump.php -text
exec/admin_restore.php -text
exec/import_all.php -text
formulaires/sauvegarder.html -text
formulaires/sauvegarder.php -text
inc/dump.php -text
inc/export.php -text
/plugin.xml -text
prive/squelettes/contenu/page-backup.html -text
prive/squelettes/contenu/page-backup_fin.html -text
prive/squelettes/contenu/page-backup_fin_fonctions.php -text
prive/themes/spip/images/dump-32.png -text
