* text=auto !eol
action/sauvegarder.php -text
base/import_all.php -text
connect/dump.php -text
exec/admin_restore.php -text
exec/import_all.php -text
formulaires/restaurer.html -text
formulaires/restaurer.php -text
formulaires/sauvegarder.html -text
formulaires/sauvegarder.php -text
inc/dump.php -text
inc/sauvegarder.php -text
lang/dump_fr.php -text
/plugin.xml -text
prive/squelettes/contenu/page-restaurer.html -text
prive/squelettes/contenu/page-restaurer_fonctions.php -text
prive/squelettes/contenu/page-sauvegarder.html -text
prive/squelettes/contenu/page-sauvegarder_fonctions.php -text
prive/themes/spip/images/base-16.png -text
prive/themes/spip/images/base-backup-16.png -text
prive/themes/spip/images/base-edit-16.png -text
prive/themes/spip/images/base-restore-16.png -text
prive/themes/spip/images/dump-32.png -text
